$fontFamilyPpal: 'Alice',
    serif;
$fontFamilySec: 'Great Vibes',
    cursive;

/*MAPA
Declaracion de mapa*/
$fuentes: (
    fuente1: $fontFamilyPpal,
    fuente2: $fontFamilySec,
    medida1: 10%,
    medida2:10px
);

/*MIXIN
Declaracion de mixin*/
@mixin flexSpaceAround {
    display: flex;
    justify-content: space-around;
}

/*EXTEND
Se creó la clase .txtDefChord2 con atributos de la clase .txtDefChord*/

* {
    margin: 0;
    padding: 0;
}

/*Color de fondo de header y footer*/
.bkgcolor {
    background-image: linear-gradient(grey, rgb(161, 161, 161), white);
}

/*Fondo de todas las páginas*/
.bkgimage {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8)), url("../media/bkgimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    top: 0;
    display: flex;
    position: sticky;
    align-items: center;
    border-color: black;
    border: solid;
    z-index: 10;
}

/*div de titulo y logo en el header*/
.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Animación del logo del sitio*/
@keyframes girar {
    0% {
        transform: rotate(1080deg);
    }
}

/*Logo del sitio*/
.logo-img {
    width: 80px;

    animation: {
        name: girar;
        delay: 3s;
        duration: 4s;
        iteration-count: 1;
        timing-function: ease-out;
    }
}

/*Titulo seiscuerdas principal*/
.logo {
    a {
        h2 {
            padding-left: 30px;
            color: white;
            display: inline-block;
            margin-bottom: 0rem;

            text: {
                align: left;
                decoration: none;
            }

            font: {
                size: 50px;
                weight: 100;
                family: 'Monoton', cursive;
            }
        }
    }
}

/*Frase debajo del titulo seiscuerdas*/
h3 {
    padding-left: 150px;
    margin-bottom: 0rem;

    font: {
        family: map-get($fuentes, fuente2);
        size: 15*(map-get($fuentes, medida1));
    }
}

.radius {
    border-radius: 15px
}

.menu {
    @include flexSpaceAround;
    border-radius: 15px;

    nav {
        ul {
            margin-bottom: 0;
            padding-left: 0;

            li {
                list-style-type: none;
                display: inline-block;
                padding: 8px 10px;

                a {
                    text-decoration: none;
                    color: black;

                    font: {
                        family: map-get($fuentes, fuente1);
                        size: 10*(map-get($fuentes, medida1));
                    }

                    &:hover {
                        font-size: 11*(map-get($fuentes, medida1));
                    }
                }
            }
        }
    }
}

/*Fondo del main de la página index*/
.img-background {
    height: 850px;
    background-image: url(../media/feel2.jpg);

    background: {
        size: cover;
        repeat: no-repeat;
    }
}

/*Titulo de las páginas*/
h4 {
    text-align: center;
    padding: 10px;
    margin-bottom: 0;

    font: {
        family: map-get($fuentes, fuente1);
        size: 18*(map-get($fuentes, medida1));
    }
}

/*Imagen Partes de la guitarra*/
.parts {
    border-radius: 8%;
    border: solid;
    width: 70%;
    margin-bottom: 20px;
}

/*Imagen acústica*/
.acus_img {
    border-radius: 8%;
    margin-bottom: 20px;
}

/*Descripción del tipo de guitarra*/
.guitar_desc {
    p {
        font-size: 12*(map-get($fuentes, medida1));
    }
}

/*Imagen de acordes en pág. Experimenta*/
.exp_img {
    border-radius: 8%;
    padding: 25px;
}

/*Video de pág. Experimenta*/
.exp_fr {
    padding: 10px;
}

/*Formulario de contacto*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border: solid;
    border-radius: 15px;

    margin: {
        left: auto;
        right: auto;
    }
}

label {
    padding: 15px;
    text-align: left;

    font: {
        family: map-get($fuentes, fuente1);
        size: 2.2*(map-get($fuentes, medida2));
    }
}

input {
    font: {
        family: $fontFamilyPpal;
        size: 15px;
    }

    padding: 5px;
    width: 70%;

    &:focus {
        background-color: lemonchiffon;
    }
}

fieldset {
    width: 70%;
    margin: 15px;
    border: solid;
    border-radius: 15px;

    legend {
        padding: 15px;

        font: {
            family: map-get($fuentes, fuente1);
            size: 2.2*(map-get($fuentes, medida2));
        }
    }
}

.check {
    width: 50px;
}

/*Texto de los fieldset*/
h6 {
    display: inline-block;
    padding: 5px;

    font: {
        family: map-get($fuentes, fuente1);
        size: 1.5*(map-get($fuentes, medida2));
    }
}

textarea {
    width: 70%;
    padding: 15px;
    margin-bottom: 15px;

    &:focus {
        background-color: lemonchiffon;
    }
}

/*Botones del form*/
.butt {
    width: 20%;
    flex-direction: row;
    margin-bottom: 15px;
}

/*Texto de la pág. index*/
.text_ind {
    position: absolute;
    top: 440px;
    right: 60px;
    left: 720px;
    text-align: justify;
    overflow: hidden;

    font: {
        family: map-get($fuentes, fuente1);
        size: 13*(map-get($fuentes, medida1));
        style: italic;
    }
}

footer {
    @include flexSpaceAround;
    border: solid;
    border-color: black;
}

.text_foot {
    text-align: justify;
    margin-bottom: 0;
    margin-top: 7px;
}

/*Iconos del footer*/
.iconSize {
    height: 40px;
    width: 40px;
}

.icons {
    @include flexSpaceAround;
    width: 25%;
    padding: 25px;
    filter: grayscale(90%);

    &:hover {
        filter: none;
        transition-property: filter;
        transition-duration: 3s;
    }
}

/*Inicio de cada pagina*/
.descripcion {
    text-align: justify;
    margin-bottom: 0;
    padding: 8px;

    font: {
        family: map-get($fuentes, fuente1);
        size: 13*(map-get($fuentes, medida1));
    }
}

/*Lista no ordenada de la pág. Acordes*/
.ul_chords {
    li {
        text-align: justify;
        padding: 3px;
        color: darkred;

        font: {
            family: map-get($fuentes, fuente1);
            size: 12*(map-get($fuentes, medida1));
        }
    }
}

/*Detalle de acordes*/
.chords {
    display: flex;
    height: auto;
    border: solid;
    margin-bottom: 5px;
}

/*Textos de los acordes*/
.txtDefChord {
    font-size: 10*(map-get($fuentes, medida1));
    padding: 10px;
    text-align: justify;
}

.txtDefChord2 {
    @extend .txtDefChord;
    color: darkred;
    font-style: italic;
    background-color: antiquewhite;
}

@media screen and (max-width:768px) {
    header {
        flex-wrap: wrap;
    }

    .logo {
        width: 80%;

        margin: {
            left: 15px;
            right: 0%;
        }
    }

    .logo-img {
        width: 80px;
    }

    .logo {
        a {
            h2 {
                padding-left: 5px;

                font: {
                    size: 50px;
                    weight: 80;
                }
            }
        }
    }

    h3 {
        padding-left: 5px;
        font-size: 140%;
    }

    .menu {
        justify-content: space-around;
        border-radius: 15px;

        nav {
            ul {
                li {
                    a {
                        font-size: 120%;
                    }
                }
            }
        }
    }

    h4 {
        font-size: 180%;
    }

    .parts {
        width: 100%;
    }

    /*Ordena imagenes y texto en pagina Guitarras*/
    .first {
        order: -1;
    }

    form {
        width: 95%;
    }

    label {
        font-size: 2*(map-get($fuentes, medida2));
        padding: 15px;
    }

    input {
        font-size: 15px;
        padding: 5px;
        width: 85%;
    }

    fieldset {
        width: 85%;
        padding: 10px;

        legend {
            font-size: 2*(map-get($fuentes, medida2));
            padding: 15px;
        }
    }

    .check {
        width: 40px;
    }

    h6 {
        font-size: 18px;
        padding: 5px;
    }

    textarea {
        width: 85%;
        padding: 15px;
        margin-bottom: 15px;
    }

    .butt {
        width: 40%;
        flex-direction: row;
        margin-bottom: 15px;
    }

    .text_ind {
        position: absolute;
        top: 850px;
        right: 10px;
        left: 10px;
        font-size: 110%;
        color: white;
    }

    footer {
        flex-direction: column;
    }

    .descripcion {
        font-size: 100%;
    }

    .ul_chords {
        li {
            font-size: 100%;
            padding: 2px;
        }
    }

    .txtDefChord {
        padding: 5px;
    }

    .iconSize {
        height: 60px;
        width: 60px;
        padding-top: 5px;
    }

    .icons {
        width: 100%;
        padding: 5px;
    }

    .chords {
        flex-direction: column;
        align-items: center;
    }
}

.vid_chord {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:480px) {
    .logo {
        margin-left: 8px;
    }

    .logo-img {
        width: 50px;
    }

    .logo {
        a {
            h2 {
                padding-left: 5px;

                font: {
                    size: 30px;
                    weight: 60;
                }
            }
        }
    }

    h3 {
        padding-left: 5px;
        font-size: 125%;
    }

    .menu {
        nav {
            ul {
                li {
                    padding: 2px 2px;

                    a {
                        font-size: 100%;
                    }
                }
            }
        }
    }

    h4 {
        font-size: 150%;
    }

    fieldset {
        legend {
            padding: 5px;
        }
    }

    .check {
        width: 30%;
    }

    .text_ind {
        top: 700px;
    }

    p {
        font-size: 80%;
    }

    .ul_chords {
        li {
            font-size: 90%;
            padding: 1px;
        }
    }

    .iconSize {
        height: 40px;
        width: 40px;
    }
}