*{
    margin: 0;
    padding: 0;
}
header {
    background-image: linear-gradient(grey, rgb(161, 161, 161), white);
    height: 140px;
    top: 0;
    display: flex;
    position: sticky;
    align-items: center;
    border-color: black;
    border: solid;
}
.logo {
    background-image: linear-gradient(grey, rgb(161, 161, 161), white);
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 5%;
    border-radius: 15px;
}
@keyframes girar {
    0% {transform: rotate(359deg)};
}
.logo-img {
    width: 105px;
    animation-name: girar;
    animation-delay: 3s;
    animation-duration: 0.6s;
    animation-iteration-count: 3;
    animation-timing-function: linear;
}
.logo a h2{
    text-align: left;
    text-decoration: none;
    padding-left: 30px;
    font-size: 70px;
    color:white;
    font-weight: 100;
    display:inline-block;
    font-family: 'Monoton', cursive;
    margin-bottom: 0rem;
}
h3{
    padding-left: 330px;
    font-family: 'Great Vibes', cursive;
    font-size: 200%;
    margin-bottom: 0rem;
}
.menu {
    background-image: linear-gradient(grey, rgb(161, 161, 161), white);
    width: 45%;
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 1%;
    border-radius: 15px;
}
.menu nav ul {
    margin-bottom: 0;
    padding-left: 0;
}
.menu nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px 20px;
}
.menu nav ul li a{
    text-decoration: none;
    font-family: 'Alice', serif;
    font-size: 160%;
    color: black;
}
.menu nav ul li a:hover {
    color: white;
    font-size: 165%;
}
.img-background {
    height: 850px;
    background-image: url(../media/feel2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
main {
    background-image: radial-gradient(grey, white);
}
.main_contacto {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(212, 212, 212);
}
h4{
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: 'Alice', serif;
    font-size: 250%;
    margin-bottom: 0;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border: solid;
    background-image: radial-gradient(grey, white);
}
label {
    font-family: 'Alice', serif;
    font-size: 30px;
    padding: 15px;
    text-align: left;
}
input {
    font-family: 'Alice', serif;
    font-size: 20px;
    padding: 5px;
    width: 70%;
}
input:focus {
    background-color: lemonchiffon;
}
fieldset {
    width: 70%;
    margin: 15px;
    border: solid;
}
fieldset legend{
    font-family: 'Alice', serif;
    font-size: 30px;
    padding: 15px;
}
.check {
    width: 70px;
}
h6 {
    font-family: 'Alice', serif;
    font-size: 20px;
    display: inline-block;
    padding: 5px;
}
textarea {
    width: 70%;
    padding: 15px;
    margin-bottom: 15px;
}
textarea:focus {
    background-color: lemonchiffon;
}
.butt {
    width: 20%;
    flex-direction: row;
    margin-bottom: 15px;
}
h5{
    position: absolute;
    top: 650px;
    right: 70px;
    left: 1300px;
    font-family: 'Alice', serif;
    font-size: 130%;
}
footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(135deg, grey, rgb(161, 161, 161), white);
    border: solid;
    border-color: black;
}
p{
    font-family: 'Alice', serif;
    font-size: 130%;
    text-align: justify;
    margin-bottom: 0;
    padding: 10px;
}
.ul_chords li{
    font-family: 'Alice', serif;
    font-size: 120%;
    text-align: justify;
    padding: 3px;
}
.chords {
    display: flex;
    height: auto;
    border: solid;
    margin-bottom: 2px;
}
.def_chord p{
    width: 50%;
    font-size: 50%;
}
.about {
    width: 55%;
    padding: 10px;
}
.iconSize {
    height: 60px;
    width: 60px;
}
.icons{
    display: flex;
    justify-content: space-around;
    width: 25%;
    padding: 25px;
}

@media screen and (max-width:768px){
    header {
        flex-wrap: wrap;
        z-index: 200;
        height: 250px;
    }
    .logo {
        background-image: linear-gradient(grey, rgb(161, 161, 161), white);
        width: 70%;
        display: flex;
        margin-left: 15px;
    }
    .logo-img {
        width: 80px;
    }
    .logo a h2{
        text-decoration: none;
        padding-left: 30px;
        font-size: 52px;
        color:white;
        font-weight: 100;
        font-family: 'Monoton', cursive;
    }
    h3{
        padding-left: 200px;
        font-family: 'Great Vibes', cursive;
        font-size: 150%;
    }
    header a {
        display: inline-block;
    }
    .menu {
        width: 100%;
        display: flex;
        margin-left: 1%;
        margin-right: 1%;
    }
    .menu nav ul li{
        display: flex;
        padding: 3px 3px;
        flex-direction: column;
    }
    .menu nav ul li a{
        text-decoration: none;
        font-family: 'Alice', serif;
        font-size: 120%;
        color: white;
    }
    .menu nav ul li a:hover {
        color: black;
        font-size: 125%;
    }
    .main_contacto {
        grid-area: main;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(212, 212, 212);
    }
    h4{
        font-size: 180%;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        border: solid;
    }
    label {
        font-family: 'Alice', serif;
        font-size: 28px;
        padding: 15px;
        text-align: left;
    }
    input {
        font-family: 'Alice', serif;
        font-size: 15px;
        padding: 5px;
        width: 85%;
    }
    fieldset {
        width: 85%;
        padding: 15px;
    }
    fieldset legend{
        font-family: 'Alice', serif;
        font-size: 28px;
        padding: 15px;
    }
    .check {
        width: 40px;
    }
    h6 {
        font-family: 'Alice', serif;
        font-size: 20px;
        display: inline-block;
        padding: 5px;
    }
    textarea {
        width: 85%;
        padding: 15px;
        margin-bottom: 15px;
    }
    .butt {
        width: 40%;
        flex-direction: row;
        margin-bottom: 15px;
    }
    h5{
        position: absolute;
        top: 900px;
        right: 10px;
        left: 20px;
        font-family: 'Alice', serif;
        font-size: 110%;
        color: white;
    }
    footer {
        grid-area: footer;
        display: flex;
        flex-direction: column;
        background-color: rgb(161, 161, 161);
        border: solid;
        border-color: black;
    }
    p{
        font-family: 'Alice', serif;
        font-size: 100%;
        text-align: justify;  
    }
    .ul_chords li{
        font-size: 100%;
        padding: 2px;
    }
    .about {
        width: 98%;
        padding: 5px
    }
    .iconSize {
        height: 60px;
        width: 60px;
        padding-top: 5px;
    }
    .icons{
        display: flex;
        justify-content: space-around;
        width: 98%;
        padding: 5px;
    }
    .chords {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width:480px){
    /*.index_grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }*/
    header {
        height: 230px;
    }
    .logo {
        width: 75%;
        margin-left: 5px;
    }
    .logo-img {
        width: 50px;
    }
    .logo a h2{
        padding-left: 10px;
        padding-top: 5px;
        font-size: 35px;
        font-weight: 80;
    }
    h3{
        padding-left: 80px;
        font-family: 'Great Vibes', cursive;
        font-size: 130%;
    }
    header a {
        display: inline-block;
    }
    .menu {
        background-color:rgb(161, 161, 161);
        width: 100%;
        display: flex;
    }
    .menu nav ul li{
        display: flex;
        list-style-type: none;
        padding: 5px 5px;
        flex-direction: column;
    }
    .menu nav ul li a{
        text-decoration: none;
        font-family: 'Alice', serif;
        font-size: 100%;
        color: white;
    }
    .menu nav ul li a:hover {
        color: black;
        font-size: 105%;
    }
    h4{
        font-size: 150%;
    }
    fieldset {
        width: 85%;
        padding: 10px;
    }
    fieldset legend{
        font-family: 'Alice', serif;
        font-size: 23px;
        padding: 15px;
    }
    .check {
        width: 20%;
    }
    h6 {
        font-family: 'Alice', serif;
        font-size: 20px;
        display: inline-block;
        padding: 5px;
        width: 75%;
    }
    textarea {
        width: 85%;
        padding: 15px;
        margin-bottom: 15px;
    }
    .butt {
        width: 40%;
        flex-direction: row;
        margin-bottom: 15px;
    }
    h5{
        position: absolute;
        top: 850px;
        right: 10px;
        left: 20px;
        font-family: 'Alice', serif;
        font-size: 110%;
        color: white;
    }
    footer {
        grid-area: footer;
        display: flex;
        flex-direction: column;
        background-color: rgb(161, 161, 161);
        border: solid;
        border-color: black;
    }
    p{
        font-family: 'Alice', serif;
        font-size: 100%;
        text-align: justify;  
    }
    .ul_chords li{
        font-size: 90%;
        padding: 1px;
    }
    .about {
        width: 98%;
        padding: 5px
    }
    .iconSize {
        height: 60px;
        width: 60px;
        padding-top: 5px;
    }
    .icons{
        display: flex;
        justify-content: space-around;
        width: 98%;
        padding: 5px;
    }
    iframe{
        width: 430px;
    }
}